<div class="container" role="main">

  <div class="row">
      <mat-card class="example-card divCenter">

        <img id="imageCard" mat-card-image src="/assets/img/logo.jpg" alt="logo">

        <h2 class="textCenter marginTop20px">Prueba Técnica</h2>
       
        <mat-card-content>
          <form class="example-form">
            <div class="row">
                <mat-form-field class="example-full-width" appearance="fill">
                  <input type="email" matInput id="email" [formControl]="emailFormControl" placeholder="Email">
                </mat-form-field>
                <p class="errorStyle" *ngIf="!emailFormControl.valid && emailFormControl.touched">Invalid email</p>
          </div>
          <div class="row">
              <mat-form-field class="example-full-width" appearance="fill">
                <input type="password" minlength="5" matInput [formControl]="loginFormControl" placeholder="Contraseña">
              </mat-form-field>
              <p class="errorStyle" *ngIf="loginFormControl.hasError('required') && loginFormControl.touched">Password required</p>
              <p class="errorStyle" *ngIf="loginFormControl.hasError('minlength')">Minimun 5 Caracter</p>
            </div>

            <div class="row">
              <section class="example-section">
                Recordar
                <mat-slide-toggle
                  class="example-margin">
                  </mat-slide-toggle>
              </section>
          </div>

          <div class="row marginTop20px">
              <button type="button" class="btn btn-outline-primary styleButton divCenter" (click)="accept()" [disabled]="disableButton">Acceder</button>
          </div>
          
          </form>
        </mat-card-content>
      </mat-card>

    </div>
    
</div>

<router-outlet></router-outlet>
