<div class="container" role="main">

  <div class="row">
      <mat-card class="example-card divCenter">

        <img id="imageCard" mat-card-image src="/assets/img/logo.jpg" alt="logo">

        <h2 class="textCenter marginTop20px">Prueba Técnica</h2>
       
        <mat-card-content>
          <form class="example-form">
            <div class="row">
            <mat-form-field class="example-full-width" appearance="fill">
              <input type="email" matInput [formControl]="emailFormControl" placeholder="Email">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
              <mat-form-field class="example-full-width" appearance="fill">
                <input type="password" matInput [formControl]="emailFormControl" placeholder="Contraseña">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="row">
              <section class="example-section">
                Recordar
                <mat-slide-toggle
                  class="example-margin">
                  </mat-slide-toggle>
              </section>
          </div>

          <div class="row marginTop20px">
              <button type="button" class="btn btn-outline-primary styleButton divCenter">Acceder</button>
          </div>
          
          </form>
        </mat-card-content>
      </mat-card>

    </div>
    
</div>

<router-outlet></router-outlet>
